<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">HTML 标签说明：

        <div class="layui-card-body">
          <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>notepad风格</legend>
          </fieldset>

          <pre class="layui-code" lay-title="JavaScript" lay-skin="notepad">//代码区域
 html 的 style scoped 属性是一个布尔属性。如果使用该属性，则样式仅仅应用到 style 元素的父元素及其子元素。
<-style type="text/css" scoped><-/-style>
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 限定好了，在固定的本页面范围 -->
<style scoped>
  .layadmin-iframe {
    background-color: #d6ceba;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
</style>
</div>